/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #33333D;
    --primary-color-lighter: #424250;
    --primary-text-color: #D7D7D7;
    --primary-button: #FF6C11;
    --secondary-button: #FF3864;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--primary-color-lighter);
    color: var(--primary-text-color);
}

.navbar-background {
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
}

input {
    border: none;
    border-bottom: 1px solid white;
    border-bottom: 1px solid var(--primary-text-color);
    background-color: transparent;
    color: var(--primary-text-color);
    padding-bottom: 4px;
}

::placeholder {
    color: var(--primary-text-color);
}

.primary-button {
    background-color: var(--primary-button);
    color: var(--primary-text-color);
}

.secondary-button {
    background-color: var(--secondary-button);
    color: var(--primary-text-color);
}


.card {
    background-color: var(--primary-color);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}