<div class="card col-sm-12 col-md-6 col-lg-6 m-auto">
  <div class="card-body">
    <h5 class="card-title">Criação de salas</h5>
    <form [formGroup]="form">

      <input type="text" class="w-100 my-3" placeholder="Nome" name="name" formControlName="name" />
      
      <input type="date" class="w-100 my-3" placeholder="Data" name="date" formControlName="date">
      
      <input type="text" class="w-100 my-3" placeholder="Hora de início" name="startHour" formControlName="startHour">
      
      <input type="text" class="w-100 my-3" placeholder="Hora de término" name="endHour" formControlName="endHour">
      
      <div class="flex-row mt-3">
        <button mat-raised-button class="primary-button mr-2">Salvar</button>
        <button mat-raised-button class="secondary-button ml-2" (click)="resetForm()">Resetar</button>
      </div>
    </form>
  </div>
</div>
